body {
  overflow-x: hidden;

}
.navbar{
overflow-x: hidden;
}

.mynav a{
text-decoration: none;
color: white;
padding: 15px;
}

.mynav a:hover{
  background-color: violet;
}


.card-testi {
  position: relative;
}

.mynav{
  display: flex;
  width: 100%;
  height: 50%;
 justify-content: end;
 margin: auto 0;
}

#landing, #about, #W-E, #skills, #projects, #testimonials, #contact{

  scroll-margin-block: 60px;
}

.progress-bar{
  background-color: fuchsia;
}

.mybuttons:hover{

  background-color: blueviolet;
}

.card img{
   width: 800px;
}

 #timeline {
height: 100px;
width: 200px;
padding: 10px;
}

#W-E .form-check-input{
  padding: 0;
  /* height: 10px;
  width: 10px; */
}

.carousel-indicators{
  margin-bottom: -4rem;
}

#carouselExampleFade button{
  height: 30px;
  width: 50px;
  border-radius: 50%;
  background-color: blueviolet;
}



form,
input,
textarea,
.shadow {
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  color: white;
  padding: 5% 10%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 40%;
 
}


.card-img{
  object-fit: contain;
}


.myform {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mapouter {
  height: 50%;
}


.mapouter {
  position: relative;
  text-align: center;
  height: 500px;
  width: 600px;
  margin: 30px 0 ;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

.landing{

  height: 100vh;
  background-image: url(/Images/myimage.png);
  background-size: cover;
}


.navbar-nav{
display: none;
}

@media screen and (max-width: 960px){

.navbar{
  overflow:hidden ;
}
  .img-fluid{
max-width: 100%;
object-fit: cover;
  
  }

  .mynav{

    display: none;
  }

}

@media screen and (max-width: 720px){
  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
   
  }
}